<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <h1>
    Welcome to {{title}}
  </h1>
  <hr />
    <form #myForm="ngForm" (ngSubmit)="submit(myForm.value)">
      <h5>Enter Patient Details</h5>
      <div class="row">
        <div class="col-md-12 row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="name">First Name:</label>
              <input type="text"  required minlength="3" maxlength="10" class="form-control" ngModel name="fname" #fname="ngModel">
            </div>
            <br>
            <div class="alert alert-danger" *ngIf="fname.touched && !fname.valid">
              <div *ngIf="fname.errors && fname.errors['required']">First Name is required.</div>
              <div *ngIf="fname.errors && fname.errors['minlength']">First Name is minimum {{ fname.errors && fname.errors['minlength'].requiredLength }} character.</div>
              <div *ngIf="fname.errors && fname.errors['maxlength']">First Name is maximum 10 character.</div>
          </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="mname">Middle Name:</label>
              <input type="text"  required minlength="3" maxlength="10" class="form-control" ngModel name="mname" #mname="ngModel">
            </div>
            <br>
            <div class="alert alert-danger" *ngIf="mname.touched && !mname.valid">
              <div *ngIf="mname.errors && mname.errors['required']">Middle Name is required.</div>
              <div *ngIf="mname.errors && mname.errors['minlength']">Middle Name is minimum {{ mname.errors && mname.errors['minlength'].requiredLength }} character.</div>
              <div *ngIf="mname.errors && mname.errors['maxlength']">Middle Name is maximum 10 character.</div>
          </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="lname">Last Name:</label>
              <input type="text"  required minlength="3" maxlength="10" class="form-control" ngModel name="lname" #lname="ngModel">
            </div>
            <br>
            <div class="alert alert-danger" *ngIf="lname.touched && !lname.valid">
              <div *ngIf="lname.errors && lname.errors['required']">Last Name is required.</div>
              <div *ngIf="lname.errors && lname.errors['minlength']">Last Name is minimum {{ lname.errors && lname.errors['minlength'].requiredLength }} character.</div>
              <div *ngIf="lname.errors && lname.errors['maxlength']">Last Name is maximum 10 character.</div>
          </div>
          </div>
        </div>
      <div class="col-md-12 row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="dateOfBirth">Date Of Birth:</label>
            <input type="date" required class="form-control" ngModel name="dateOfBirth" #dateOfBirth="ngModel">
          </div>
          <br>
          <div class="alert alert-danger" *ngIf="dateOfBirth.touched && !dateOfBirth.valid">
              <div *ngIf="dateOfBirth.errors && dateOfBirth.errors['required']">Date of Birth is required.</div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="serviceType">Service Type:</label>
            <input type="text" required class="form-control" ngModel name="serviceType" #serviceType="ngModel">
          </div>
          <br>
          <div class="alert alert-danger" *ngIf="serviceType.touched && !serviceType.valid">
            Service Type is required.
        </div>
        </div>
      </div>
      <div class="col-md-12 row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="gender">Gender:</label>
            <select class="form-control" required ngModel name="gender" #gender="ngModel">
              <option value="">--SELECT--</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            <br>
            <div class="alert alert-danger" *ngIf="gender.touched && !gender.valid">
              Select a gender
          </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="generalComments">General Comments:</label>
            <textarea required class="form-control" ngModel name="generalComments" #generalComments="ngModel">
              
            </textarea>
          </div>
          <br>
          <div class="alert alert-danger" *ngIf="generalComments.touched && !generalComments.valid">
              <div *ngIf="generalComments.errors && generalComments.errors['required']">Comment is required.</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Add Patient</button>
      </div>
      </div>
      <hr>
      <h2 style="text-align: center;">Patient Details Table</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>
              Name
            </td>
            <td>
              Date of Birth
            </td>
            <td>
              Gender
            </td>
            <td>
              Type Of Service
            </td>
            <td>
              General Comments
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ fname.value + " " + mname.value + " " + lname.value }}
            </td>
            <td>
              {{ dateOfBirth.value }}
            </td>
            <td>
              {{ gender.value }}
            </td>
            <td>
              {{ serviceType.value }}
            </td>
            <td>
              {{ generalComments.value }}
            </td>
          </tr>
        </tbody>
      </table>
    </form>
</div>